.navbar {
  margin-bottom: 0px;
}

#first-container {
  margin-top: 20px;
}

#brand-img {
  margin-top: 2px;
  margin-left: 50px;
  border: solid;
}

#github_logo {
  margin-top: 12px;
  margin-left: 15px;
  padding: 0px;
}

#container2-heading1 {
  margin-bottom: 30px;
}

#euler_cert {
  width: 150px;
}

#third-container {
  margin-bottom: 50px;
}

.li-gap {
  margin-bottom: 10px;
}

#timeline-heading {
  margin-bottom: 20px;
}

#cv-button {
  margin-top: 40px;
}

#base-navbar-collapse {
  padding-right: 100px;
}

#jumbo {
  margin-top: 50px;
}

#john_thumbnail {
  margin-top: 12px;
}

#thumbnail-text {
  padding: 0px;
  margin-top: -10px;
  margin-left: 12px;
  margin-right: 12px;
}

#page-title {
  margin-top: 0px;
}

@media (max-width: 1199px) {
  #john_thumbnail {
    width: 260px;
  }
}

@media (max-width: 991px) {
  .thumbnail.right-caption > img {
      float: left;
      margin-right: 0px;
  }

  .thumbnail.right-caption {
      float: left;
  }

  .thumbnail.right-caption > .caption {
      padding: 0px;
  }
  #john_thumbnail {
    width: 180px;
    margin: 20px;
  }
  #thumbnail-text {
    padding: 0px;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
    .mobile-padding {
      margin-left: 20px;
      margin-right: 20px;
    }
}
